.XhProductDetailtop{
  display: flex;
  justify-content: space-between;
  height: 1rem;
  width: 100%;
  background-color: #f7f7f7;
  font-size: .3rem;
  line-height: 1rem ;
  z-index: 999;
  position: fixed;
  top: 0;
  padding-left: .5rem;
  padding-right: 3.5rem;
}
.topiconXhProductDetailtop{
  line-height: 1rem ;
  color: #c62f2e;

}
.XhMyEvaluation{
  background-color: #F7F7F7;
  height: 13rem;
}
.myXhMyEvaluation{
  padding-top: .35rem;
  margin-bottom: .35rem;
  margin-top: 1rem;
  height: 1.5rem;
  background-color: #fff;
}
.imgXhMyEvaluation{
  width: 3rem;
  height: 3rem;
  margin: auto;
color: #999;
}
.imgXhMyEvaluation img{
  margin-top: 2rem;
}
.imgXhMyEvaluation p{
   margin-top: .2rem;
 }
img{
  width: 100%;
  height: 100%;
}
