/*首部*/
.XhProductDetailtop{
  display: flex;
  justify-content: space-around;
  height: 1rem;
  width: 100%;
  background-color: #f7f7f7;
  font-size: .3rem;
  line-height: 1rem ;
  z-index: 999;
  position: fixed;
  top: 0;
}
.topiconXhProductDetail{
  line-height: 1rem ;
  color: #c62f2e;
}
.XhProductDetailtop span:nth-of-type(1){
  border-bottom: 2px solid #c62f2e;
}
.XhProductDetailtop span:nth-of-type(2){
  border-bottom: 2px solid #F7F7F7;
}
.topXhProductDetail{
  display: flex;
  justify-content: space-around;
}

/*消息首页搜索*/
.bigboxXhProductDetail{
  position: fixed;
  z-index: 999;
  right: 0;
  top: -.1rem;
  margin-top: 1rem;
  width: 2rem;
  height: 4rem;
}
.bigboxXhProductDetail p{
  padding-top: .2rem;
  padding-bottom: .2rem;
  background-color: #fff;
  height: .6rem;
}
/*灰条条*/
.XhProductDetail{
  background-color: #f7f7f7;
  height: .2rem;
}
/*轮播图*/
.swipeXhProductDetailtop{
  margin-top: 1rem;
}
.aXhProductsList{
  height: 7.58rem;
  width: 100%;
}
.aXhProductsList img{
  width: 100%;
  height: 100%;
}
/*收藏*/
.CollectionProductDetail{
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding-top: .4rem;
  padding-right: .3rem;
}
.Collection-box{
  border-right: 1px solid #ccc;
  padding-right: 4.2rem;
}
.Collection-box p{
  display:  block;
  font-size: .54rem;
  color: #c62f2e;
}
.DiscountCollectionProductDetail{
  color: #c62f2e;
  margin-left: .2rem;
}
.line-through{
  text-decoration: line-through;
  color: #ccc;
}
.TitleProductDetail{
  padding-left: .2rem;
  background-color: #fff;
  height: 2.5rem;
}
.TitleProductDetail p{
  text-align: left!important;
  font-size: .32rem;
  padding: .3rem 0;
  font-weight: 400;
}
.TitleProductDetail span{
  text-align: left!important;
  font-size: .26rem;
  color:rgb(153, 153, 153);
  padding-bottom: .5rem;
}
.bProductDetail{
  font-size: .5rem;
}
/*优惠券~用户~出版*/
.CouponProductDetail{
  background-color: #f7f7f7;
}
.CouponProductDetailspan{
  display: flex;
  justify-content: space-around;
  margin-top: .35rem;
  margin-right: 2.2rem;
}
.CouponProductDetailspan span{
  font-size: .2rem;
  background-color: #c62f2e;
  color: #fff;
  display: inline-block;
  height: .3rem;
  width: 1rem;
  line-height: .3rem;
  margin-right: .2rem;
  /*border-radius: .1rem;*/
  border-right: 1px dashed #fff;
  border-left: 1px dashed #fff;
}
.CouponProductDetail li{
  display: flex;
  background-color: #fff;
  /*height: 1rem;*/
  line-height: 1rem;
  justify-content: space-between;
  padding-left: .3rem;
  padding-right: .3rem;
  font-size: .26rem;
  margin: .2rem 0;
}
.haveliXhProductDetail{
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  position: relative;
  left: 3.5rem;
  top: -.98rem;
  z-index: 99;
}
.haveliXhProductDetail p{
  line-height: 0;
  text-align: left;
  padding-left: .4rem;
  padding-top: .2rem;
}
.bricon{
  color: #c62f2e;
}
.cProductDetail{
  color: rgb(153, 153, 153);
}
.cProductDetailc{
  color: rgb(153, 153, 153);
  text-align: right;
}
.tXhProductsList{
  color:#c62f2e ;
  font-size: .4rem;
}
.tXhProductsListt{
  color: #ccc ;
  font-size: .28rem;
}
.rXhProductsList{
  display: flex;
  justify-content: space-around;
  padding-top: .1rem;
}
.rXhProductsListr{
  font-size: .3rem;
}
.owProductsList{
  background-color: #feb13b;
}
.shProductsList{
  background-color: #e61818;
}
/*图片详情*/
.detailsProductDetail{
  padding-top: 1rem  ;
  z-index: 0!important;
}
.detailsProductDetail h2{
  text-align: center;
  margin-top: .8rem;
  margin-bottom: .2rem;
}
.card_boxs{
  height: 15rem;
 padding: 0 .7rem;
  font-size: .28rem;
  background-color: #fff;
}
/*图文详情*/
.table_boxdetailsProductDetail{
padding-right: .4rem;
  padding-left: .4rem;
  font-size: .26rem;
  margin-bottom: 1rem;
}
.table_boxdetailsProductDetail h4{
  margin-top: .5rem;
  margin-bottom: .3rem;
}
.table_boxdetailsProductDetail p{
  text-align: left;
}
.table_boxsdetailsProductDetail{
  width: 5.8rem;
  margin: auto;
}
.table_boxsdetailsProductDetail tr{
  height: .75rem;
  border:1px solid #ccc;
}
.table_boxsdetailsProductDetail th:nth-of-type(1){
  color: #ccc;
}
.table_trdetailsProductDetail{
  margin-top: .5rem;
}
.colspan{
  background-color: #f7f7f7;
}
.detailsProductDetail{
  margin-bottom: 1.5rem;

}
/*表格*/
.table_boxs tr{
  border: 1px solid #ccc;
}
/*尾部*/
.footerProductDetail{
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 1.2rem;
  padding-top: .2rem;
}
.footerProductDetail p{
  line-height: 0;
  padding-top: .5rem;
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  color: #fff;
  /*background-color: #795da3;*/
  font-size: .3rem;
}
.footerDetailfooterProductDetail{
  font-size: .5rem;
  display: flex;
  flex-direction: column;
}
.imgboxXhProductsList{
  width: 3rem;
  height: 3rem;
}
.bottomXhProductsList{
  display: flex;
  border-radius: .4rem ;
}
.textXhProductsList{
  margin-left: .1rem;
  padding-top: 1.3rem;
}
.imgboxXhProductsList img{
  height: 100%;
  width: 100%;
}
.showProductsList{
  margin-top: .1rem ;
  display: flex;
  justify-content: space-around;
}
.showProductsList p{
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  font-size: .28rem;
}
.van-button--primary{
  background-color: #fff;
  border: 0;
  width: 5rem;
  display: flex;
  color: #000;
  text-align: left;
  justify-content: space-around;
}
.addXhProductsList{
  height: 2rem;
}
.heartProductDetail{
  width: .8rem;
}
