.XhProductsList{
background-color: #f7f7f7;
  height: 100%;
}
/*首部*/
.XhProductDetailtop{
  display: flex;
  justify-content: space-around;
  height: 1rem;
  width: 100%;
  background-color: #f7f7f7;
  font-size: .32rem;
  line-height: 1rem ;
  z-index: 999;
  position: fixed;
  top: 0;
}
.topiconXhProductDetailtop{
  line-height: 1rem ;
  font-size: .5rem;
  color: #c62f2e;
}
.XhProductDetailtop input{
  border:0;
  outline: none;
  width: 5rem;
  height: .6rem;
  margin-top: .2rem;
  background-color: #efeff4;
}
.fangdajingXhProductDetailtop{
  border: 0;
  position: relative;
  left: -.6rem;
  top: .1rem;
}
/*首部*/
.list_topProductsList{
  display: flex;
  line-height: 1rem;
  justify-content: space-around;
}
/*详情列表*/
.imgboxfourProductsList{
  width: 3rem;
  height: 3rem;
  display: flex;

}
.imgboxfourProductsList img{
  width: 100%;
  height: 100%;
}
.gridProductsList{
  font-size: .3rem;
  background-color: #f7f7f7;
  height: 100%;
}
.gridProductsList p{
  margin-top: .3rem;
  text-align: left;

}
.gridProductsListbox{
  margin-top: .2rem!important;
  /*margin-right: .3rem;*/
  /*width: 2rem;*/
  z-index: 0;
  border-radius: .1rem;
text-align: left;
}
.van-grid-item[data-v-1b7315d6]{
  margin-bottom: 0px;
}
.aaXhProductsList{
  font-size: .3rem;
  padding-top: .3rem;
}
.bbXhProductsList{
  color: #ccc;
  font-size: .3rem;

}
.ccXhProductsList{
  color: #c62f2e;
  font-size: .38rem;
  padding-top: .25rem;
}
/*綜合*/
.dropdownProductsList{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
/*line-height: 1rem;*/
  color: rgb(153, 153, 153);
  font-size: .3rem;
  text-align: left;
}
.SalesProductsList{
  display: flex;
}
.volumeProductsList{
  display: flex;
flex-direction: column;
  line-height: .2rem;
padding-top: .28rem;
}
.volumeProductsList span{
  display: inline-block;
  line-height: .2rem;
  height: .2rem;
  width: .2rem;
  font-size: .01rem!important;
  }
/*!*仅看有货*!*/
.onlyXhProductsList{
  display: flex;
  justify-content: space-around;
  background-color: #F7F7F7;
  padding-bottom: .3rem;
}
.onlyXhProductsList p{
 background-color: #fff;
  width: 1.5rem;
  border-radius: .1rem;
}
.onlyXhProductsListbox{
  display: flex;
  justify-content: space-around;
  padding-top: .8rem;
  height: 100%;

}
.onlyXhProductsListbox p{
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding-bottom: .2rem;
  width: 3rem;
}
.sureXhProductsList{
  display: flex;
  justify-content: space-around;
  margin-top: .8rem;
}
.sureXhProductsList span:nth-of-type(1){
  display: inline-block;
    width: 3.5rem;
    height: 1rem;
  line-height: 1rem;
    color: #404040;
    background-color:#fff ;
    border: 1px solid #ccc;
    border-radius: .1rem;
}
.sureXhProductsList span:nth-of-type(2) {
    display: inline-block;
    width: 3.5rem;
    line-height: 1rem;
  height: 1rem;
    color: #fff;
  background-color: #c62f2e;
    border-radius: .1rem;
}
.threeXhProductsList{
  display: flex;
  justify-content: space-around;
  width: 5rem;
  background-color: #F7F7F7;

}
.shoesXhProductsListbox{
  background-color: #fff;
  padding-top: .3rem;
  z-index: 999;
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
}
.duigouXhProductsList{
  display: none;
}
.duiXhProductsList{
  display: flex;
  justify-content: space-around;
}
.duigouXhProductsList{
  color: #c62f2e;
}
.onlybigbigXhProductsList{
    display: flex;
  justify-content: space-around;
}
.wenthreeXhProductsList{
  background-color: #fff;
  width: 1rem;
  border-radius: .1rem;
}
/*.onlyProductsList{*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  !*padding-top: .2rem;*!*/
/*  !*margin-bottom: .5rem;*!*/
/*text-align: left;*/
/*}*/
/*.wenProductsList{*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  border-bottom: 1px solid #fff;*/
/*background-color: #fff;*/
/*  width: 3rem ;*/
/*  height: .5rem;*/
/*  !*padding-top: .5rem;*!*/
/*}*/
/*.sureProductsList{*/
/*  display: flex;*/
/*  margin-top: .8rem;*/
/*  justify-content: space-around;*/
/*}*/
/*.sureProductsList p:nth-of-type(1){*/
/*  display: inline-block;*/
/*  width: 3.5rem;*/
/*  height: 1rem;*/
/*line-height: 1rem;*/
/*  color: #404040;*/
/*  background-color:#fff ;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: .1rem;*/
/*}*/
/*.sureProductsList p:nth-of-type(2){*/
/*  display: inline-block;*/
/*  width: 3.5rem;*/
/*  line-height: 1rem;*/
/*height: 1rem;*/
/*  color: #fff;*/
/*  border-radius: .1rem;*/

/*  background-color:#c62f2e ;*/
/*  !*border: 1px solid #ccc;*!*/
/*}*/
/*.onlyProductsList p{*/
/*  border-radius: .1rem;*/
/*  display: inline-block;*/
/*  width: 1.5rem;*/
/*  height: .5rem;*/
/*  color: rgb(153, 153, 153);*/
/*  line-height: .5rem;*/
/*  text-align: center;*/
/*  background-color: #fff;*/
/*  font-size: .28rem;*/
/*  border: 1px solid #fff;*/
/*}*/
/*.speakProductsList {*/
/*  font-size: .12rem;*/
/*  background-color: #fff;*/
/*  color: rgb(153, 153, 153);*/
/*  border-color: #fff;*/
/*  height: .5rem;*/
/*  line-height: .5rem;*/
/*}*/
/*.showyuProductsList{*/
/*  width: 100%;*/
/*  height: 3rem;*/
/*  background-color: #fff;*/
/*  z-index: 999;*/
/*  margin-top: .2rem;*/
/* padding-top: .3rem;*/
/*  !*display: none;*!*/
/*}*/
/*銷量*/
.popupXhProductsList{
  /*background-color: #ee9900;*/
  width: 6.7rem;
  height: 14rem;
  color:#6b6b6b;
}
.popupXhProductsList h2{
  color: #74787a;
}
.popup_box{
  display: flex;
}
.buttonProductsList{
  color: rgb(153, 153, 153);
  border: 0;
  background-color: #F7F7F7;
  /*padding-top: .1rem;*/
  font-size: .3rem;
}
.popup_boxXhProductsList{
  display: flex;
}
.popup_boxXhProductsList input{
  display: flex;
  border: 0;
  outline: none;
  text-align: center;
  background-color: #cccccc;
  width: 2.78rem;
  height: .57rem;
  line-height: .57rem;
}
.popup_boxXhProductsList p{
  width: 2rem;
  background-color: #74787a;
}
.screenXhProductsList li h2{
  margin-top: .48rem;
  margin-bottom: .3rem;
  /*text-align: left;*/
  /*color: #74787a;*/
}
.screenXhProductsList li {
  margin-left: .26rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*background-color: #795da3;*/
}
.screenXhProductsList li p{
  text-align: center;
  background-color: #cccccc;
  width: 2.78rem;
  height: .57rem;
  line-height: .57rem;
  border-radius: .1rem;
  margin: .26rem;
  font-size: .25rem;
}
.timeXhProductsList{
  display: flex;
}
/*列表小*/
.gridproductsListsmall{
  display: flex;
  margin-left: .3rem;
  margin-top: .2rem;
  font-size: .14rem;
  /*height: 4rem;*/
}
.pri_boxsonlyProductsList{
  width: 2rem;
  height: 2rem;
}
.pri_boxsonlyProductsList img{
  width: 100%;
  height: 100%;
}
.gridsmall_box{
  width: 5rem;
  background-color: #fff;
}
.gridsmall_box{
  padding-left: .3rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: left;
  border-radius: .1rem;

}
.aaaXhProductsList{
  background-color: #f7f7f7;
}
.ResetonlyProductsList{
  width: 3rem;
  border-color: #c62f2e;
  background-color: #c62f2e;
  margin: .2rem 0;
}
.ResetsonlyProductsList{
  width: 3rem;
  border-color: #ccc;
  background-color: #fff;
  color: #000;
  margin: .2rem 0;

}
.InstockonlyProductsList{
  /*height: 1rem;*/
  /*line-height: 0;*/
  font-size: .1rem;
  background-color: #fff;
}
.InstocksonlyProductsList{
  font-size: .2rem;
color: rgb(153, 153, 153);
  height: .5rem;
  width: 1.4rem;
  /*margin-bottom: .3rem;*/
  border-radius: .1rem;
  background-color: #fff;
}
.InstockssonlyProductsList{
  color: rgb(153, 153, 153);
  height: .5rem;
  width: 1.8rem;
  display: flex;
  justify-content: space-around;
  /*margin-bottom: .3rem;*/
  border-radius: .1rem;
  background-color: #fff;
}
.van-dropdown-menu{
  height: .5rem;
}
.van-dropdown-menu__title{
  font-size: .12rem!important;
}
.dropdown-menu{
  padding-top: .15rem;
  display: flex;
  width: 5rem;
  justify-content: space-around;
}
.van-grid-item{
  margin-bottom: .2rem;
}
.gridssXhProductsList{
  color: #ccc;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.towwenXhProductsList{
  /*width:3rem;*/
  /*text-overflow:ellipsis;*/
  /*white-space:nowrap;*/
  /*overflow:hidden;*/
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.gridssbbXhProductsList{
  color: #e61818;
  font-size: .3rem;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
}
.onlyProductsListchian{
  display: flex;
  justify-content: space-around;
}
.gridProductsListboximg img{
  width: 100%;
  height: 100%;
}

.gridProductsListboximg{
  height: 4.7rem;
}
/*.pXhProductsListshuang{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  flex-wrap: wrap;*/
/*  width: 6.3rem;*/
/*}*/
