.XhProductsList{
background-color: #f7f7f7;
  height: 100%;
}
/*首部*/
.XhProductDetailtop{
  display: flex;
  justify-content: space-around;
  height: 1rem;
  width: 100%;
  background-color: #f7f7f7;
  font-size: .32rem;
  line-height: 1rem ;
  z-index: 999;
  position: fixed;
  top: 0;
}
.topiconXhProductDetailtop{
  line-height: 1rem ;
  font-size: .5rem;
  color: #c62f2e;
}
.XhProductDetailtop input{
  border:0;
  outline: none;
  width: 5rem;
  height: .6rem;
  margin-top: .2rem;
  background-color: #efeff4;
}
.fangdajing{
  border: 0;
  position: relative;
  left: -.6rem;
  top: .1rem;
}
/*首部*/
.list_topProductsList{
  display: flex;
  line-height: 1rem;
  justify-content: space-around;
}
/*详情列表*/
.gridProductsList{
  font-size: .32rem;
}
.gridProductsList p{
  margin-top: .3rem;
  text-align: left;
}
.gridProductsListbox{
  margin-top: .2rem!important;
  /*margin-right: .3rem;*/
  /*width: 2rem;*/
  border-radius: .1rem;
text-align: left;
}
.van-grid-item[data-v-1b7315d6]{
  margin-bottom: 0px;
}
.aaXhProductsList{
  font-size: .33rem;
}
.bbXhProductsList{
  color: #ccc;
  font-size: .3rem;

}
.ccXhProductsList{
  color: #c62f2e;
  font-size: .38rem;
  padding-top: .25rem;
}
/*綜合*/
.dropdownProductsList{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
/*line-height: 1rem;*/
  color: rgb(153, 153, 153);
  font-size: .3rem;
  text-align: left;
}
.SalesProductsList{
  display: flex;
}
.volumeProductsList{
  display: flex;
flex-direction: column;
  line-height: .2rem;
padding-top: .28rem;
}
.volumeProductsList span{
  display: inline-block;
  line-height: .2rem;
  height: .2rem;
  width: .2rem;
  font-size: .01rem!important;
  }
/*仅看有货*/
.onlyProductsList{
  display: flex;
  justify-content: space-around;
  /*padding-top: .2rem;*/
  margin-bottom: .5rem;
text-align: left;
}
.onlyProductsList p{
  border-radius: .1rem;
  display: inline-block;
  width: 1.5rem;
  height: .5rem;
  color: rgb(153, 153, 153);
  line-height: .5rem;
  text-align: center;
  background-color: #fff;
  font-size: .28rem;
}
/*銷量*/
.popupXhProductsList{
  /*background-color: #ee9900;*/
  width: 6.7rem;
  height: 14rem;
  color:#6b6b6b;
}
.popupXhProductsList h2{
  color: #74787a;
}
.popup_box{
  display: flex;
}
.buttonProductsList{
  color: rgb(153, 153, 153);
  border: 0;
  background-color: #F7F7F7;
  /*padding-top: .1rem;*/
  font-size: .3rem;
}
.popup_boxXhProductsList input{
  display: flex;
  border: 0;
  outline: none;
  text-align: center;
  background-color: #cccccc;
  width: 2.78rem;
  height: .57rem;
  line-height: .57rem;
}
.popup_boxXhProductsList p{
  width: 2rem;
  background-color: #74787a;
}
.screenXhProductsList li h2{
  margin-top: .48rem;
  margin-bottom: .3rem;
  /*text-align: left;*/
  /*color: #74787a;*/
}
.screenXhProductsList li {
  margin-left: .26rem;
  /*background-color: #795da3;*/
}
.screenXhProductsList li p{
  text-align: center;
  background-color: #cccccc;
  width: 2.78rem;
  height: .57rem;
  line-height: .57rem;
  border-radius: .1rem;
  margin: .26rem;
  font-size: .25rem;
}
.timeXhProductsList{
  display: flex;
}
/*列表小*/
.gridproductsListsmall{
  display: flex;
  margin-left: .3rem;
  margin-top: .2rem;
  font-size: .14rem;
  /*height: 4rem;*/
}
.pri_boxsonlyProductsList{
  width: 2rem;
  height: 2rem;
}
.pri_boxsonlyProductsList img{
  width: 100%;
  height: 100%;
}
.gridsmall_box{
  width: 5rem;
  background-color: #fff;
}
.gridsmall_box{
  padding-left: .1rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: left;
}
.aaaXhProductsList{
  background-color: #f7f7f7;
}
.ResetonlyProductsList{
  width: 3rem;
  border-color: #c62f2e;
  background-color: #c62f2e;
  margin: .2rem 0;
}
.ResetsonlyProductsList{
  width: 3rem;
  border-color: #ccc;
  background-color: #fff;
  color: #000;
  margin: .2rem 0;

}
.InstockonlyProductsList{
  /*height: 1rem;*/
  /*line-height: 0;*/
  font-size: .1rem;
  background-color: #fff;
}
.InstocksonlyProductsList{
  font-size: .2rem;
color: rgb(153, 153, 153);
  height: .5rem;
  width: 1.4rem;
  /*margin-bottom: .3rem;*/
  border-radius: .1rem;
  background-color: #fff;
}
.InstockssonlyProductsList{
  color: rgb(153, 153, 153);
  height: .5rem;
  width: 1.8rem;
  /*margin-bottom: .3rem;*/
  border-radius: .1rem;
  background-color: #fff;
}
.van-dropdown-menu{
  height: .5rem;
}
.van-dropdown-menu__title{
  font-size: .12rem!important;
}
.dropdown-menu{
  padding-top: .15rem;
  display: flex;
  width: 5rem;
  justify-content: space-around;
}
.van-grid-item{
  margin-bottom: .2rem;
}
.gridssXhProductsList{
  color: #ccc;
}
.gridssbbXhProductsList{
  color: #e61818;
  font-size: .3rem;
}
.onlyProductsListchian{
  display: flex;
  justify-content: space-around;
}
